<div class="contact-form-component">
    <div class="contact-form-component-wrap-top">
        <div class="contact-form-component-wrap-top-title">
            <h3>Добавить контакт</h3>
        </div>
    </div>
    <div class="contact-form-component-wrap-main">
            <div class="contact-form-component-wrap-main-input">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Телефон">
            </div>
            <div class="contact-form-component-wrap-main-button">
                <button>
                    <h3>Добавить</h3>
                </button>
            </div>
    </div>
</div>
