.contact-list-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 197px;
  background-color: #ffffff;
  border-radius: 4px;
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 370px;
  }
}