<div class="contact-list-component">
    <div class="contact-list-component-info">
        <h3>Список контактов</h3>
    </div>
    <div class="contact-list-component-wrap">

        <div v-for="(item, index) in arrForContact" v-if="isClicked + index" class="contact-list-component-wrap-user">
            <div class="contact-list-component-wrap-user-name">
                <h3 class="contact-list-component-wrap-user-name-name">{{item.name}}</h3>
                <div v-on:click="getClick(index)" class="contact-list-component-wrap-user-name-check">
                    <div class="contact-list-component-wrap-user-name-check-check"></div>
                    <div class="contact-list-component-wrap-user-name-check-check1"></div>
                </div>
            </div>
            <div class="contact-list-component-wrap-user-number">
                <h3 class="contact-list-component-wrap-user-number-number">{{item.number}}</h3>
            </div>
        </div>

    </div>
</div>
