<div class="contact-list-component">
    <div class="contact-list-component-wrap">
        <div class="contact-list-component-wrap-info">
            <h3>Добавить контакт</h3>
        </div>
        <div class="contact-list-component-wrap-user">
            <div class="contact-list-component-wrap-user-name">
                <h3>Иванов Иван</h3>
                <div class="contact-list-component-wrap-user-name-check">
                    <div class="contact-list-component-wrap-user-name-check-check"></div>
                    <div class="contact-list-component-wrap-user-name-check-check1"></div>
                </div>
            </div>
            <div class="contact-list-component-wrap-user-number">
                <h3>12412412414124</h3>
            </div>
        </div>
    </div>
</div>
